{% extends 'ready4sBundle::base.html.twig' %}

{% block body %}
    <h1>Post</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td id="id">{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ post.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if post.date %}{{ post.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{post.user.name}}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ post.user.surname}}</td>
            </tr>
        <tr>
            <td><button id='myBtn' class="btn btn-sm btn-danger">Add a comment</button></td>
        </tr>
        </tbody>
    </table>


<div id="myModal" class="modal">
    <div class="modal-content">
        {% if app.user is not null %}
            <div class="modal-header">
                <span class="close">×</span>

                <h2>Add a comment</h2>
            </div>

            <div class="modal-body">
                <div id="addCommentDiv">
                    {{ form_start(form, {'attr': {'id': 'form_new_comment'}}) }}
                    {{ form_widget(form) }}
                </div>
            </div>
            <div class="modal-footer">
                {{ form_end(form) }}
                <h3>
                    <button id="submitBtnComment" class="addComment btn btn-lg btn-danger">Submit</button>
                </h3>

            </div>
        {% else %}
            <div class="modal-header">
                <span class="close">x</span>
                <h2>You must log in order to comment</h2>
            </div>
        {% endif %}
    </div>
</div>
<hr>
<h1> KOMENTY</h1>

    <table class="text-center">
        <thead>
        <tr class="text-center">
            <th>Description</th>
            <th>Date</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
        </thead>
        <tbody id="comments">
        {% for comment in post.comments %}
            <tr class="text-center">
                <td>{{ comment.description }}</td>
                <td>{{ comment.date|date('d-m-Y H:i:s') }}</td>
                <td>{{ comment.user.name }}</td>
                <td>{{ comment.user.surname }}</td>
            </tr>
        {% endfor %}

        <tr style="display:none" id="hidden">
            <td data-type="description">x</td>
            <td data-type="date">x</td>
            <td data-type="name">x</td>
            <td data-type="surname">x</td>
        </tr>

        </tbody>
    </table>


    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
